
<div style="display: flex;
  justify-content: center;">

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;" routerLink="/accounts/profile">
    <p style="margin-top:5px;"><b>Profile</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/relacoes">
    <p style="margin-top:5px;"><b>Relações</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/introducoes">
    <p style="margin-top:5px;"><b>Pedidos Introdução</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/jogadoresObjetivo">
    <p style="margin-top:5px;"><b>Jogadores objetivo</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/algoritmos">
    <p style="margin-top:5px;"><b>Algoritmos</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/grafo">
    <p style="margin-top:5px;"><b>Grafo</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/tags">
    <p style="margin-top:5px;"><b>Tags</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/leaderboard">
    <p style="margin-top:5px;"><b>Leaderboard</b></p>
  </a>

  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/calculos">
    <p style="margin-top:5px;"><b>Calculos</b></p>
  </a>
  <a class="underlineHover" style="background: white; border-radius:100px;padding: 10px;margin-left: 1%" routerLink="/accounts/posts">
    <p style="margin-top:5px;"><b>Posts</b></p>
  </a>



  <div class="box">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input type="text" name="">
</div>

  <a style="background: white;border-radius: 50px;height:50px;width: 50px;padding: 14px;margin-right: 20px" routerLink="/accounts/pedidos">
    <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
  </a>

  <div style="background: white;border-radius: 50px;height:50px;width: 50px;padding: 16px;">
    <i routerLink="/login" class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
  </div>

</div>
